#profile img{
    height:250px;
    width: 250px;
    border-radius: 50%;
    border-style: groove;
}
nav{
    text-transform: uppercase;
    width: 100%; /* Set a width of the nav */
    text-align: center;   
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li{
    font-size: larger;
    display: inline-block;
      
}
nav ul li a {
    color: crimson;
    display: block; /* Make the links appear below each other */
    padding: 12px;
    text-decoration: none; /* Remove underline from links */
    padding-top: 20px;
    
  }
  
  nav ul li a:hover {
    background-color:blanchedalmond; /* Red background on mouse-over */
  }
  body{
      background-image: url(https://bit.ly/2OAitTY);
      background-size: cover;
  }

  #profile{
      text-align: center;
      font-size: xx-large;
      font-family: 'Jim Nightshade', cursive;
      line-height: normal;
  }
    
  #contacts{
    text-align: center;
    font-size: larger;

}
h2
td{
    padding: 5px;
}
th{
    width: 20em;
    text-align: left;
    padding: 5px;
}
h2{
    color: crimson;
    text-align: center;
}

h3{
    color: floralwhite;
}
#profile h3,  #profile p{
    color: darkkhaki;
}

@media only screen and (min-width: 480px) {
    #about{
    display:flex;
    padding:20px;
    font-size: larger;
    flex-wrap: wrap;
        
    }
    #education, #job-experience, #why-Programming, #interest{
        width: 17em;
        float: left;
        padding: 15px;
    }
    }